  body { padding-top: 20px; }
          .container{
              height: -200px;
              background-color: #eee;
          }
          .fuente{
              color: white;
              text-transform: uppercase;
          }

#myCarousel .carousel-caption {
    left:0;
	right:0;
	bottom:0;
	text-align:left;
	padding:10px;
	background:rgba(0,0,0,0.6);
	text-shadow:none;
    
}

#myCarousel .list-group {
	position:absolute;
	top:0;
	right:0;
}
#myCarousel .list-group-item {
	border-radius:0px;
	cursor:pointer;
}
#myCarousel .list-group .active {
	background-color:#eee;	
}

@media (min-width: 992px) { 
	#myCarousel {padding-right:33.3333%;}
	#myCarousel .carousel-controls {display:none;} 	
}
@media (max-width: 991px) { 
	.carousel-caption p,
	#myCarousel .list-group {display:none;} 
}
       
        btn-orange{
            color:#ff9f1a;
        }
        .todo-blanco{
            background-color: white;
            height: 1250px;
            border-radius: 3px;
        }
        .espacios{
            margin-top: 3%;
        }
        .productbox {
            margin-top: 3%;
    background-color:#eee;
	padding:30px;
    width: 27%;
    margin-left: 70px;
	margin-bottom:10px;
    
    margin-bottom: 20px;
	-webkit-box-shadow: 0 8px 6px -6px  #999;
	   -moz-box-shadow: 0 8px 6px -6px  #999;
	        box-shadow: 0 8px 6px -6px #999;
}

.producttitle {
    font-weight:bold;
    color: #26B99A;
	padding:5px 0 5px 0;
    font-size: 15px;
    text-transform: UPPERCASE;
}

.productprice {
	border-top:1px solid #dadada;
    text-transform: UPPERCASE;
	padding-top:5px;
    color: #26B99A;
    font-size: 15px;
}

.pricetext {
	font-weight:bold;
	font-size:1.4em;
}

        